.profile .profile_pic{
    width:100%;
    margin:0 auto;
}

.btn-dark:hover{
    text-decoration: none !important;
}

#login-form .form-control-error{
    margin:0;
}

.empty-input{
    border: 1px solid #73879C !important;
    background:url('../images/ic_backspace_dark-blue.png') no-repeat right center;
}

.empty-input-username, .empty-input-password{
    color:#73879C;
    margin-bottom:10px;
    margin-top:3px;
}

#login-submit{
    display: block;
    margin:0 auto;
}

.reset_pass{
    display: block;
}

.login-errors ul{
    margin:0 0 20px 20px;
    padding:0;
}
.login-errors ul li{
    padding:0 0 3px 10px;
    text-align: left;
}

.quick-btn{
    width:35px;
    height:35px;
    margin:5px 5px 5px 5px;
    padding:5px;
    border-radius: 100px;
}